image: Visual Studio 2017

platform:
  - x64

cache:
  - node_modules
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 8 x64
  - npm

build_script:
  - npm install
  - node .electron-vue/build.js & ./node_modules/.bin/electron-builder -w

test: off

