// Variables for globally customizing Bootstrap should be put in here.
@import "../../node_modules/bootstrap/scss/functions";

// TALEnet colors
$tale-dark-grey: #373636;
$tale-light-grey: #d5d3d3;
$tale-white: #ffffff;
$tale-blue: #c1ffff;
$tale-yellow: #f2ff4d;
$tale-red: #ff0047;

// General font styling
$font-family-base: 'OpenSansRegular';
$font-size-base: 1.125rem;
$font-family-body: 'LoraRegular';
$font-size-body: 1.125rem;
$font-family-markdown: $font-family-body;
$font-size-markdown: $font-size-body;
$h1-font-size: $font-size-base;
$headings-font-weight: bold;

// Bootstrap colors
$danger: $tale-red;
$warning: $tale-yellow;
$primary: $tale-blue;

// Images
$hexagon-image-border-color: $tale-blue;
$hexagon-image-bg: $tale-dark-grey;

// Navbars
$navbar-dark-color: $tale-blue;
$navbar-border-color: $tale-blue;
$navbar-border-width: 1px;
$navbar-padding-y: 8px;
$navbar-top-height: 40px /* Measured in browser */ + 2 * $navbar-padding-y + $navbar-border-width;
$navbar-bottom-height: $navbar-top-height;
$navbar-identity-image-size: 100px;

// Forms
$input-bg: $tale-dark-grey;
$input-color: $tale-white;
$input-border-color: $tale-blue;
$input-border-radius: 0;
$form-input-border-top: none;
$form-input-border-bottom: 1px solid $tale-blue;
$form-input-border-left: none;
$form-input-border-right: none;

// Buttons
$border-radius: 0;
$button-corner-cut-size: 5px;

// Badges
$badge-corner-cut-size: 3px;
$badge-margin-right: 5px;

// Page
$body-color: $tale-white;
$body-bg: $tale-dark-grey;
$card-bg: $tale-dark-grey;
$dark: $tale-dark-grey;
$content-margin: 20px;
$body-margin-top: $navbar-top-height + $content-margin;
$body-margin-bottom: $navbar-bottom-height + $content-margin;

// Identity card
$identity-card-image-size: 25px;

// Identity image chooser
$identity-image-chooser-size: 200px;

// Identity details
$identity-details-image-size: $identity-image-chooser-size;

// needs to be last line in file so all variables above override bootstrap defaults
@import "../../node_modules/bootstrap/scss/variables";
